.surface.vivaldi:not(.vertical) {
  width: 100%;
}

.tabs.vivaldi .tab .tab-background {
  border: none;
  width: 236px;
  border-radius: 50px;
  background-color: var(--tab-bg-color);
}

.tabs.vivaldi {
  background-color: var(--main-color);
  filter: brightness(70%);
}

.tabs.vivaldi .tab:not(.active) .tab-background {
  background-color: var(--dark-translucent-bg);
  transition: opacity 0.2s ease;
  opacity: 1;
}

.tabs.vertical.vivaldi {
  height: calc(100% - calc(3em + 12px));
}

.tabs.vertical.vivaldi .tab .tab-background {
  border: none;
  border-radius: 50px;
}

.tabs.vivaldi .tab .tab-bottom-border {
  display: none;
}

.under-tabs.vivaldi {
  background-color: var(--background-color);
}

.under-tabs.vivaldi .tabs-bottom-bar {
  display: none;
}

.tabs.vivaldi #create-tab {
  border: none;
}

.tabs.vivaldi #create-tab:hover {
  color: var(--text-color);
}

.tabs.vivaldi #create-tab:hover .material-symbols-outlined {
  color: var(--text-color);
}

.navbar.vivaldi {
  opacity: 0;
  width: 0px;
  left: -20px;
  border-image: linear-gradient(to bottom, transparent 5px, transparent 5px);
  border-image-slice: 1;
  transition:
    width 0.5s ease-in-out,
    border-image 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

.viewport.vivaldi:not(.vertical) {
  width: 100%;
}
