#browser-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  right: 0;
}
h1, h2, h3, h4, h5, h6, p {
  cursor: text
}

input[type="text"] {
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background: transparent;
  color: var(--text-color);
  transition: 0.2s ease;
  border: var(--border-color) 1px solid;
  border-radius: 9999px;
  font-family: "Plus Jakarta Sans";
}
input[type="text"]:hover{
  background: var(--input-hover-background-color) !important;
  color: var(--hover-text-color) !important;
}

input[type="text"]:focus {
  background: var(--input-background-color) !important;
  color: var(--active-text-color) !important;
  border-color: var(--active-border-color) !important;
}

input[type="text"]::placeholder {
  color: var(--text-color) !important;
  font-family: "Plus Jakarta Sans" !important;
}

body {
  margin: 0;
  font-family: Plus Jakarta Sans;
  background-color: var(--background-color);
  color: var(--text-color);
}
.material-symbols-outlined{
  cursor: pointer; /* fix inconsistency where fonts would be able to be selected */
}
.unclickable {
  cursor: default;
}
.surface {
  box-sizing: border-box;
  display: flex;
  width: calc(100% - calc(2em + 10px));
  right: 0;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  transition: width 0.5s ease-in-out;
  height: 100%;
}

.surface.autohide {
  width: calc(100%);
  transition: width 0.5s ease-in-out;
}

.context-menu {
  position: absolute;
  display: none;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.context-menu div {
  padding: 5px;
  cursor: pointer;
  color: var(--text-color);
}

.context-menu div:hover {
  background-color: var(--button-hover-bg-color);
}

.material-symbols-outlined {
  position: static !important;
}

.navbar span:hover {
  background-color: var(--faded-main-color);
  border-radius: 7px;
  transition: 0.12s all ease-in-out;
  cursor: pointer;
}

.navbar span,
.navbar div {
  transition: 0.12s;
}

.navbar {
  display: flex;
  flex-direction: column;
  opacity: 1;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin: 0;
  direction: ltr;
  width: 2em;
  height: 100%;
  position: fixed;
  text-align: center;
  z-index: 1;
  bottom: 0;
  border-right: 1px solid transparent;
  border-image: linear-gradient(
    to bottom,
    transparent 50px,
    var(--main-color) 50px
  );
  border-image-slice: 1;
  transition:
    width 0.5s ease-in-out,
    border-image 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

.navbar.autohide {
  opacity: 0;
  width: 0px;
  left: -20px;
  border-image: linear-gradient(to bottom, transparent 5px, transparent 5px);
  border-image-slice: 1;
  transition:
    width 0.5s ease-in-out,
    border-image 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

.navbar hr {
  width: 24px;
  height: 1px;
  background: var(--main-color);
  border: none;
}

.navbar .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-self: center;
  height: 100%;
  gap: 5px;
}

.navbar div {
  text-decoration: none;
  color: var(--main-color);
}

.navbar .coming-soon::after {
  content: "SOON";
  font-size: 8px;
  background: var(--utility-background-color);
  color: var(--text-color);
  padding: 2px 4px;
  border-radius: 4px;
  position: relative;
  bottom: 5px;
  white-space: nowrap;
}

.logo {
  width: 32px;
  height: 32px;
  transition: 0.3s;
  user-select: none;
  margin: 4px 0px;
  background-image: var(--logo);
  background-size: 32px;
  background-repeat: no-repeat;
  flex-shrink: 0;
  flex-grow: 0;
}

.logo:hover {
  cursor: pointer;
}

.glitch {
  position: sticky;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 4;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  z-index: 2;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #9a16ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #19ffc9;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

 @-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
            transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
            transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
.tilt-in-left-1 {
	-webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title404 {
  font-size: 160px;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 4;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  z-index: 2;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
  border: 5px solid #717171;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9f0ee8;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7e0af2;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #efefef;
}
