:root {
    --background-color: #000;
    --header-active-background-color: rgba(140, 0, 255, 0.55);
    --header-hover-background-color: rgba(140, 0, 255, 0.13);
    --input-background-color: #0a0a0a;
    --border-color: #525252;
    --text-color: #ffffff;
    --hover-text-color: rgba(255, 255, 255, 0.49);
    --active-text-color: rgba(255, 255, 255, 0.81);
    --utility-background-color: rgb(22, 22, 22);
    --utility-shadow-color: rgba(66, 66, 66, 0.86);
    --hr-background: rgba(160, 160, 160, 0.274);
    --navbar-background-color: rgb(22, 22, 22);
    --page-text-color: rgba(82, 82, 82, 0.97);
    --shortcut-background-color: #fff;
    --shortcut-box-shadow: 0 0 20px 1px #fff;
    --image-outline-color: #4400ff;
    --button-background-color: #4400ff;
    --button-gradient-color: linear-gradient(304deg,
        rgb(204, 0, 245) 0%,
        #4400ff 100%);
    --scrolltop-background-color: rgba(32, 32, 32, 0.37);
    --scrolltop-backdrop-filter: blur(10px);
    --random-btn-background-color: #0a0a0a;
    --random-btn-hover-background-color: rgb(25, 25, 25);
    --random-btn-active-background-color: rgb(15, 15, 15);
    --settingsection-background-color: #0c0c0c;
    --settingsection-background-color-hover: #101010;
    --link-hover-color: #7d2ae8;
    --settingsection-hr-background: rgba(255, 255, 255, 0.22);
    --button-reg-background-color: rgb(22, 22, 22);
    --button-reg-hover-background-color: rgb(25, 25, 25);
    --button-reg-active-background-color: rgb(15, 15, 15);
    --dropdown-background-color: rgb(22, 22, 22);
    --dropdown-hover-background-color: rgb(25, 25, 25);
  
    --tab-bg-color: rgb(22, 22, 22);
    --tab-active-bg-color: #333333;
    --tab-border-color: #555;
    --tab-secondary-color: var(--main-color);
    --tab-content-margin: 9px;
    --tab-inactive-bg-color: #535353;
  
    --secondary-color: #7700ff;
    --third-color: #6a00ff;
  
    --searchbar-width: calc(100% - calc(3 * 36px));

    --main-color: #8d01ff;
    --faded-main-color: rgba(170, 1, 255, 0.26);
  }