:root {
    /* Backgrounds */
    --background-color: #000;
    --hover-background-color: rgba(140, 0, 255, 0.13);
    --input-background-color: #0a0a0a;
    --tab-bg-color: rgb(22, 22, 22);
    --tab-active-bg-color: #333333;
    --background-image: url("/assets/imgs/DDX.bg.jpeg");
    /* Borders */
    --border-color: #525252;
    /* Text */
    --text-color: #ffffff;
    --hover-text-color: rgba(255, 255, 255, 0.49);
    --active-text-color: rgba(255, 255, 255, 0.81);
    --utility-background-color: rgb(22, 22, 22);
    /* Measurements */
    --tab-content-margin: 9px;
    --searchbar-width: calc(100% - calc(2 * 36px));

    /* Primary Colors */
    --main-color: #8d01ff;
    --faded-main-color: rgba(170, 1, 255, 0.26);
}