#utilityactive {
  background-color: var(--header-active-background-color);
  border-radius: 7px;
}

.utility .utilityIcon:hover {
  background-color: var(--hover-background-color);
  border-radius: 7px;
  transition: 0.2s all ease-in-out;
}

.utility span {
  transition: 0.2s all ease-in-out;
  padding: 100px;
}

.utility .search-header__input {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  background-color: var(--input-background-color);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: var(--searchbar-width);
  height: 20px;
  border: none;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  opacity: 1;
  text-align: left;
}

.utility .search-header__input:hover,
.utility .search-header__input:focus {
  box-shadow: none;
  padding: 0.5rem 1rem;
}

.utility span.material-symbols-outlined {
  font-size: 20px;
  margin: 0;
  padding: 8px;
  color: var(--text-color);
}

.under-tabs.vertical .utility {
  position: relative;
  background: var(--backgroud-color);
  right: 0;
}
.under-tabs .utility li #toggleTabs {
  display: none;
  z-index: 999999999999999;
}

.under-tabs.vertical .utility li #toggleTabs {
  display: block;
}

.utility {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  direction: ltr;
  width: calc(100%);
  height: 3em;
  background-color: var(--utility-background-color);
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  right: 0px;
}

.utility .right {
  position: relative;
  right: 0;
}

.utility li {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  transition: 0.2s all ease-in-out;
}

.utility li:first-child {
  margin-left: 0;
}

.utility hr {
  width: 1px;
  height: 32px;
  background: var(--border-color);
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

#uv-address {
  transition: color ease-in-out 0.5s;
  text-overflow: ellipsis;
  padding-right: 32px;
  padding-left: 40px;
}

#gointospace {
  padding-right: 38px;
  padding-left: 38px;
  text-overflow: ellipsis;
}

#uv-address:hover {
  color: var(--hover-text-color);
}

#uv-address:active,
#uv-address:focus,
#uv-address:focus-visible {
  color: var(--active-text-color);
}

.refreshButton {
  transition: transform 0.2s ease-in-out;
}

.backButton,
.forwardButton {
  transition: transform 0.2s ease-in-out;
  opacity: 0.5;
}

.refreshButton:hover {
  animation: rotateReload 0.3s forwards;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes rotateReload {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.webSecurityIcon {
  position: absolute !important;
  top: 19px !important;
  left: 165px !important;
  color: var(--hover-text-color);
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
}

.utility .coming-soon::after {
  display: none;
  content: "SOON";
  font-size: 8px;
  background: var(--utility-background-color);
  color: var(--text-color);
  padding: 2px 4px;
  border-radius: 4px;
  position: absolute;
  bottom: -2px;
  white-space: nowrap;
}
.utility .coming-soon:hover::after {
  display: block;
}

.utility .coming-soon {
  display: flex;
  flex-direction: column;
}