#background {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 50%;
  }
  
  .aur_cont {
    margin: 35px auto 0;
    display: table;
    height: auto;
    position: fixed;
    right: 1%;
    top: 15%;
  }
  
  .aur_cont .aur {
    transform: skew(-0.06turn, 18deg);
    display: block;
    width: 0;
    min-height: 122px;
    float: left;
    margin-left: 100px;
    border-radius: 5% 52% 30px 20px;
    opacity: 1;
  }
  
  .aur_cont .aur.aur_1 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 2px;
    animation: topup 7031ms infinite linear;
  }
  
  .aur_cont .aur.aur_2 {
    box-shadow: var(--main-color) 0px 0px 100px 40px;
    margin-top: 27px;
    animation: topup 10359ms infinite linear;
  }
  
  .aur_cont .aur.aur_3 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 27px;
    animation: topup 5515ms infinite linear;
  }
  
  .aur_cont .aur.aur_4 {
    box-shadow: var(--third-color) 0px 0px 100px 40px;
    margin-top: -30px;
    animation: topup 11580ms infinite linear;
  }
  
  .aur_cont .aur.aur_5 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 0px;
    animation: topup 6773ms infinite linear;
  }
  
  .aur_cont .aur.aur_6 {
    box-shadow: var(--main-color) 0px 0px 100px 40px;
    margin-top: 45px;
    animation: topup 8622ms infinite linear;
  }
  
  .aur_cont .aur.aur_7 {
    box-shadow: var(--third-color) 0px 0px 100px 40px;
    margin-top: 0px;
    animation: topup 11510ms infinite linear;
  }
  
  .aur_cont .aur.aur_8 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 5px;
    animation: topup 10258ms infinite linear;
  }
  
  .aur_cont .aur.aur_9 {
    box-shadow: var(--main-color) 0px 0px 100px 40px;
    margin-top: 9px;
    animation: topup 12160ms infinite linear;
  }
  
  .aur_cont .aur.aur_10 {
    box-shadow: var(--third-color) 0px 0px 100px 40px;
    margin-top: -27px;
    animation: topup 12931ms infinite linear;
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
  
    from {
      transform: rotate(360deg);
    }
  }
  
  @keyframes topup {
  
    0%,
    100% {
      transform: translatey(0px);
      opacity: 0;
    }
  
    50% {
      transform: translatey(150px);
      opacity: 0.1;
    }
  
    25%,
    75% {
      opacity: 1;
    }
  }
  
  @keyframes northern {
    0% {
      transform: translate(5%, -2%);
    }
  
    25% {
      transform: translate(10%, 7%);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    60% {
      transform: translate(7%, -2%);
    }
  
    85% {
      transform: translate(6%, 3%) rotate(12deg);
    }
  
    100% {
      transform: none;
    }
  }