@import url("/assets/css/imports.css");
@import url("/assets/css/sidepanel.css");

body {
  overflow: hidden;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  font-family: Plus Jakarta Sans;
}

.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 50%;
}
