.settings-child{
  margin-left: 30px;
}
.settings-item-one{
  margin-left: 10px !important;
  margin-bottom: 10px;
  margin-top: 5px;

}
.about-hover {
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease;
  border: 2px solid transparent !important;
  padding: 5px;
  color: var(--faded-main-color) !important;
  border-radius: 9999px;
  text-decoration: none;
}

.about-hover:hover{

  border: var(--main-color) 2px solid !important;
  border-radius: 9999px;
  transition: all 0.2s ease;
  color: var(--main-color) !important;
  padding: 5px;
  text-decoration: none;

}

.about-hover:active{
  border: var(--main-color) 2px solid !important;
  border-radius: 9999px;
  background-color: var(--main-color) !important;
  color: var(--background-color) !important;
  transition: all 0.2s ease;
  padding: 5px;


}

.a {
  transition: all 0.2s ease;
  border: 0px;
  color: var(--faded-main-color);
  border-radius: 9999px;
  
}
.a:hover{
  border: var(--main-color) 2px solid;
  border-radius: 9999px;
  transition: all 0.2s ease;
  color: var(--faded-main-color);
  padding: 5px;

}
.a:active{
  border: var(--main-color) 2px solid;
  border-radius: 9999px;
  background-color: var(--main-color);
  color: var(--input-background-color);
  transition: all 0.2s ease;
  padding: 5px;

}
.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
  background: none;
  width: 150px;
}

.dropdown-button {
  border: none;
  padding: 10px 10px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--main-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-button:focus {
  outline: 2px solid var(--main-color);
}

.dropdown-button span.material-symbols-outlined {
  background-color: none;
  transition: transform 0.3s;
  cursor: pointer;
  position: relative !important;
}

.dropdown-button.active span.material-symbols-outlined {
  transform: rotate(180deg);
  background-color: none;
  cursor: pointer;
}

.dropdown-options {
  margin-top: 6px;
  position: absolute;
  background-color: var(--utility-background-color);
  border-radius: 4px;
  width: 100%;
  z-index: 99999999999999999999999;
  display: none;
  padding: 0;
  border-radius: 8px;
  list-style-type: none;
  backdrop-filter: blur(50px);
  overflow: visible;
}

.dropdown-button.active + .dropdown-options {
  display: block;
}


.dropdown-options li:nth-last-child(1){
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.dropdown-options li:nth-child(1){
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.dropdown-options li {
  border-radius: none;
  transition: all 0.2s ease;
  list-style-type: none;
  width: 100%;
  backdrop-filter: blur(50px);
  position: relative;
  
}

.dropdown-options li:hover {
  background-color: var(--faded-main-color);
}

.dropdown-options li a {
  text-decoration: none;
  width: 100%;
  padding: 10px 21px 10px 0px;
  max-width: 93.5%;
  margin-left: 20px;
  display: flex;
}

.dropdown-options li a img {
  display: block;
  width: 20px;
  height: 20px;
  align-items: center;
  align-content: center;
  margin-right: 3px;
}

.dropdown-options li:hover {
  color: var(--hover-text-color);
  background-color: var(--faded-main-color);
  cursor: pointer;
}

.dropdown-options li:active {
  color: var(--main-color);
}

.sideSnav {
  list-style-type: none;
  position: fixed;
  width: 250px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
  transition: all 0.2s ease;
  padding: 10px 0px;
}

.sideSnav li {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 0px;
  transition: all 0.2s ease;
}


.sideSnav li:active {
  color: var(--active-outline-clr);
  position: relative;
}

.sideSnav li:active:before {
  content: "";
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 35px;
  
}

.sideSnav a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 16px;
  display: block;
  transition: all 0.2s ease;
  border-bottom: transparent solid 0px;
}
.sideSnav a:hover{
  transition: all 0.2s ease;
  border-bottom: var(--main-color) 1px solid;
}

.sideSnav h1 {
  margin-top: 0px;
}

.scontent {
  display: block;
  width: 95%;
  background-color: var(--dark-translucent-bg);
  border-radius: 15px;
  float: left;
  text-align: left;
  margin-top: 0px;
  padding-left: 20px;
  pointer-events: none;
}

.scontent h1 {
  font-size: 25px;
  font-weight: 500;
}

.scontent h2{
  font-size: 20px;
  font-weight: 300;
}
.scontent h3{
  margin-left: 10px;
  font-size: 16px;
}
.scontent h5{
  font-size: 14px;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.scontent p {
  font-size: 12px;
  
  line-height: 20px;
}

.scontent ul {
  list-style-type: none;
  margin-left: -20px;
}

.scontent li {
  line-height: 24px;
  font-size: 14px;
}

.scontent hr {
  border: 0;
  height: 1px;
  background: var(--hr);
  opacity: 0.4;
  margin-top: 25px;
  margin-bottom: 40px;
}

hr {
  border: none;
  height: 1px;
  background: var(--main-color);
  width: 75%;
}

.scontent::-webkit-scrollbar {
  width: 8px;
}

.scontent::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 30px;
}

.scontent::-webkit-scrollbar-thumb {
  background: var(--nav-bg);
  border-radius: 30px;
}

.scontent * {
  text-align: left;
}

h3 .about-hover:hover {
  color: var(--active-outline-clr);
}

.scrollDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: calc(100% - 250px);
  height: 100vh;
  position: fixed;
  right: 0;
  overflow-y: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.section-horiz {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  pointer-events: auto;
}

.section-vert {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  pointer-events: auto;
}

input[type="text"] {
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background: transparent;
  color: var(--text-color);
  border-radius: 9999px;
  transition: 0.2s ease;
  font-family: "Plus Jakarta Sans";
  border: var(--border-color) 1px solid;
}
input[type="text"]:hover{
  background: var(--input-hover-background-color);
  color: var(--hover-text-color);
}

input[type="text"]:focus {
  background: var(--input-background-color);
  color: var(--active-text-color);
  border-color: var(--active-border-color);
}

input[type="text"]::placeholder {
  color: var(--text-color);
  font-family: "Plus Jakarta Sans";
}

h1 {
  color: var(--main-color);
}

.bgPreview {
  display: block;
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.bg-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all .3s ease;
}

.switch:checked {
  background-color: var(--main-color);
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .2s ease;
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: var(--faded-main-color);
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--utility-background-color);
  color: var(--text-color);
  font-family: Plus Jakarta Sans;
  transition: all 0.2s ease;
  cursor: pointer;
}
button:hover{
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: var(--hover-background-color);
  color: var(--hover-text-color)
}