#browser-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  right: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.surface {
  box-sizing: border-box;
  display: flex;
  width: calc(100% - calc(2em + 10px));
  right: 0;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  transition: width 0.5s ease-in-out;

}

.surface.autohide {
  width: calc(100%);
  transition: width 0.5s ease-in-out;

}

@media (min-width: 800px) {
  .mock-browser {
    width: 100%;
    border-radius: 8px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    flex-shrink: 0;
    overflow: hidden;
  }

  .mock-browser-content {
    position: relative;
    z-index: 1;
    padding: 3em 0.5em;
    margin-top: -1px;
  }

  .tabs-optional-shadow-below-bottom-bar {
    z-index: 2;
  }
}

@media (max-width: 799px) {

  .mock-browser-content {
    padding: 1em 0.5em;
  }

  .mock-browser .tabs {
    border-radius: 0;
  }
}

.context-menu {
  position: absolute;
  display: none;
  background-color: var(--bg-color);
  border: 1px solid var(--tab-border-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.context-menu div {
  padding: 5px;
  cursor: pointer;
  color: var(--text-color);
}

.context-menu div:hover {
  background-color: var(--button-hover-bg-color);
}

.material-symbols-outlined {
  position: static !important;
}

.shortcutsBig {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  gap: 20px;
  justify-content: center;
  margin-top: -3.5em;
  left: 50vw;
  transform: translateX(-50%);
}

.shortcutBig {
  background: none;
  align-content: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  opacity: 1;
  border-radius: 30px;
}

.shortcutBigimg {
  animation: fade-in-bottom 1s;
  opacity: 0;
}

.shortcutBig img {
  width: 170px;
  height: 90px;
  border-radius: 20px;
  transition: 0.2s ease-in-out !important;
}

.shortcutBig img:hover {
  transform: scale(1.1);
  border-radius: 20px;
  transition: 0.12s ease;
  cursor: pointer;
  transition: 0.2s ease-in-out !important;
}

.shortcuts {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  gap: 29px;
  justify-content: center;
  margin-top: 4.5em;
  left: 50%;
  transform: translateX(-50%);
}

.shortcut {
  width: 50px;
  height: 50px;
  border-radius: 23%;
  background-color: var(--shortcut-background-color);
  align-content: center;
  justify-content: center;
  transition: 0.2s ease-in-out !important;
  animation: fade-in-bottom 1s;
  opacity: 0;
}

.shortcut:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out !important;
  cursor: pointer;
  box-shadow: var(--shortcut-box-shadow);
}

.shortcut img {
  width: 28px;
  height: 28px;
  padding: 11px;
  object-fit: cover;
  transition: 0.2s ease-in-out !important;
}

#navactive {
  background-color: var(--header-active-background-color);
  border-radius: 7px;
}

.navbar span:hover,
.navbar div:not(.navHover):hover {
  background-color: var(--header-hover-background-color);
  border-radius: 7px;
  transition: 0.12s all ease-in-out;
  cursor: pointer;
}

.navbar span,
.navbar div {
  transition: 0.12s;
}

.navbar {
  opacity: 1;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin: 0;
  direction: ltr;
  width: 2em;
  height: 100%;
  position: fixed;
  text-align: center;
  z-index: 1;
  bottom: 0;
  border-right: 1px solid transparent;
  border-image: linear-gradient(to bottom, transparent 50px, var(--tab-secondary-color) 50px);
  border-image-slice: 1;
  transition: width 0.5s ease-in-out, border-image 0.5s ease-in-out, opacity 0.5 ease-in-out;
}

.navbar.autohide {
  opacity: 0;
  width: 0px;
  border-image: linear-gradient(to bottom, transparent 5px, transparent 5px);
  border-image-slice: 1;
  transition: width 0.5s ease-in-out, border-image 0.5s ease-in-out, opacity 0.5 ease-in-out;
}

.navbar hr {
  width: 40px;
  height: 1px;
  background: var(--hr-background);
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.logo {
  width: 36px;
  height: 36px;
  transition: 0.3s;
  user-select: none;
  margin: 4px 0px;
}

.logo:hover {
  cursor: pointer;
}

.viewport {
  display: flex;
  flex-direction: row;
  height: calc(100% - calc(2em + 12px + 46px));
  width: 100%;
  overflow: hidden;
}

.iframe-container {
  width: calc(100% - calc(2em + 11px));
  height: 100%;
  right: 0;
  position: fixed;
  transition: width 0.5s ease-in-out;
}

.iframe-container.autohide {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

iframe {
  width: 100%;
  height: 100%;
  border: var(--iframe-border);
  display: none;
  /* Hide all iframes by default */
}

iframe.active {
  display: block;
}


.glitch {
  position: sticky;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 4;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  z-index: 2;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #9A16FF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #19FFC9;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

.title404 {
  font-size: 160px;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 4;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  z-index: 2;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
  border: 5px solid #717171;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9F0EE8;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7E0AF2;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #EFEFEF;
}